.breadcrumb {
    margin-top: 20px;
}
ul.nav.navbar-nav > li.menu-dropdown.active > a {
    background-color: #1BA39C !important;
}
.form-group label {
    font-weight: bold;
}
.table-penjualan-langsung-detail td .form-control {
    font-size: 10px !important;
    padding: 2px !important;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}